.about {
    min-height: 100vh;
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
    color: white;
    font-family: 'Arial', sans-serif;
    background-color: #0f172a
}

.about h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.about ul {
    list-style-type: disc;
    padding-left: 2rem;
}

.about hr {
    margin-top: 2rem 0;
    color: white;
    border: none;
    border-top: 1px solid #ccc;
}