#projects-title {
    text-align: center;
    margin-top: 20px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
    gap: 16px;
}

@media (max-width: 600px) {
    #projects-title {
        margin-top: 10px;
    }
}