.footer {
    background-color: lightgrey !important;
    padding: 0.5rem !important;
    color: black !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
}

.footer .social-links {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: 10px;
}

.footer a {
    text-decoration: none !important;
    padding: 20px !important;
    height: 60px !important;
    width: 60px !important;
    display: inline !important;
}

@media screen and (max-width: 600px) {
    .footer p {
        font-size: 14px;
    }

    .footer a {
        padding: 10px;
        height: 36px;
        width: 36px;
    }
}