.project-card {
    padding: 10px;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    flex: 0 1 calc(33.333% - 32px);
    min-width: 250px;
}

.project-card .github-link,
.project-card .live-site-link {
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 20px;
    display: inline-block;
    margin: 8px 4px 0 0;
}

.project-card .github-link {
    color: black;
    background-color: darkgrey;
}

.project-card .live-site-link {
    color: black;
    background-color: skyblue;
}

.project-card .github-link:hover {
    background-color: gray;
}

.project-card .live-site-link:hover {
    background-color: steelblue;
}

.project-card h3 {
    font-size: 1.5em;
    margin-bottom: 8px;
}

#project-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 8px;
}

@media (max-width: 600px) {
    .project-card {
        margin: 8px 2px;
    }
}

