.App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    color: white;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.app-overlay {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    color:white 
}
